.contenedor{
   width:1250px;
   height:100px;
}

.imgperfil {
     max-width:10%;
    max-height: 10%;
    float:left;
    border-radius: 60%;
}


.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrado {
    display: grid;
    place-items: center;
}

img {
    object-fit: cover;
    
}

.imglogo{
    float: right;
    width:8%;
    height:8%;
    padding: 10px;
}

.border{
    border-radius:30%;
    border: 1px solid black;
    
}

.bordocolor {
    border: 2px solid rgb(0, 0, 0);
    
}

.btn {
    display: inline-block;
    padding: 20px;
}

a{
    color:black;
}
