.contenedor{
    max-width:20%;
    max-height: 20%;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrado {
    display: grid;
    place-items: center;
}
