.contenedor{
   width:1250px;
   height:100px;
   border-radius: 32px;
}

.imgperfil {
     max-width:10%;
    max-height: 10%;
    float:left;
    border-radius: 60%;
}


.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrado {
    display: grid;
    place-items: center;
}

img {
    object-fit: cover;
    
}

.imglogo{
    float: right;
    width:8%;
    height:8%;
    padding: 10px;
}

.border{
    border-radius:30%;
    border: 1px solid black;
    
}

.bordocolor {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 32px;
}

.btn {
    display: inline-block;
    padding: 20px;
    border-radius: 200px;
}

a{
    color:black;
}

.heart{
    /*display:flex;
    align-items: center;
    justify-content: center;*/
    /*display:grid;
    plce-items: center;*/
    margin:auto;
    background-color: red;
    height: 60px;
    width: 60px;
    transform: rotate(-45deg);
    animation: pulse 1s infinite;
}

.heart::before,
.heart::after{
    content: "";
    background:red;
    border-radius: 50%;
    position:absolute;
    height: 60px;
    width: 60px;
}

.heart::before{
    top: -30px;
}

.heart::after{
    left: 30px;
}

@keyframes pulse {
    75% {
        transform:
        rotate(-45deg)
        scale(1.1);
    }
}